{% extends "layout.html" %}

{% block content %}

<div class="intro">Wellcome to JokaMedia a place where you can get current news <br>
  <br>
  with JokaMedia you can do the following..<br>
  <ul>
    <li>Tell people following you about what do you think!</li><br>
    <li>Make your photo album and share your photo with your community</li><br>
    <li>Join JokaMediaForum to discuss different topics with community in JokaMedia about<br>
         Education,Intertaiments,Bussness/Interprenuarship,Sports/games and Politcs issues</li><br>
    <li>Join Joka chat to private chatting with your favorate members</li><br>
    <li>Join a video group chat for live and see community activities</li><br>
    <li>Join video chat for having a metting with all members in community</li><br>
  </ul>

</div>
{% endblock %}
